.product {
	display: block;
	width: 300px;
	height: 370px;
	margin-bottom: 3em;
	transition: 0.2s transform linear;
	transform-origin: 50% 0;
	text-align: center;

	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
	}

	&__thumb {
		width: 300px;
		height: 300px;
		overflow: hidden;
	}

	&__text {
		color: #000;
		padding: 0.5em;
		font-size: 1.2em;
	}

	&__name {
	}

	&__price {
		font-weight: bold;
	}

	&__more {
		width: 52px;
		height: 52px;
		background: var(--primary-light);
		border-radius: 50%;
		font-weight: bold;
		color: #fff;
		line-height: 48px;
		text-align: center;
		font-size: 24px;
		top: 200px;
		right: 0px;
		position: absolute;
		z-index: 3;
		display: none;
	}
}
