<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= htmlWebpackPlugin.options.manifest.name %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
		<!-- <link rel="preload" href="//us-central1-onlinestore-2e046.cloudfunctions.net/api/products" as="fetch"> -->
		<% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
			<meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
		<% } %>
		<% for (var chunk of webpack.chunks) { %>
		 <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
			<% for (var file of chunk.files) { %>
				<% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
					<link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
				<% } else if (file.match(/manifest\.json$/)) { %>
					<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
				<% } %>
			<% } %>
		<% } %>
		<script>
		(function(e, t, n, i, s, a, c) {
  e[n] =
    e[n] ||
    function() {
      (e[n].q = e[n].q || []).push(arguments);
    };
  a = t.createElement(i);
  c = t.getElementsByTagName(i)[0];
  a.async = true;
  a.src = s;
  c.parentNode.insertBefore(a, c);
})(
  window,
  document,
  "galite",
  "script",
  "https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js"
);

galite("create", "UA-112012833-1", "auto");
galite("send", "pageview");
</script>

	</head>
	<body class="">
		<div class="prerender"><!--PRERENDER-CONTENT-HERE--></div>
		<script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
		<script>window.fetch||document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>

	</body>
</html>
